$scene-width: 50vw;
@media screen and (max-width: 720px) {
    $scene-width: 80vw;
}

.container {
    position: absolute;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    * {
        user-select: none;
    }
    @media screen and (max-width: 500px) {
        height: 60vh;
    }
}

.buildings {
    position: absolute;
    aspect-ratio: 1/1;
    width: $scene-width;
    ::selection {
        background: transparent;
    }
}

.globe {
    position: absolute;
    aspect-ratio: 1/1;
    width: $scene-width;
}

.highlight {
    position: absolute;
    aspect-ratio: 1/1;
    mix-blend-mode: screen;
    opacity: 0.5;
    width: $scene-width;
}

.shadow {
    position: absolute;
    aspect-ratio: 1/1;
    mix-blend-mode: multiply;
    opacity: 0.5;
    width: $scene-width;
}

.atmosphere {
    position: absolute;
    aspect-ratio: 1/1;
    width: $scene-width;
}

.cheebiez {
    position: absolute;
    aspect-ratio: 1/1;
    width: $scene-width;
}

.clouds {
    position: absolute;
    aspect-ratio: 1/1;
    width: $scene-width;
}

.siteLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: $scene-width;
  }