.container {
    position: absolute;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    * {
        user-select: none;
    }
    @media screen and (max-width: 500px) {
        height: 60vh;
    }
}

.lineArt {
    max-width: 500px;
    ::selection {
        background: transparent;
    }
    @media screen and (min-width: 1100px) {
        max-width: 50vw;
    }
    @media screen and (max-width: 500px) {
        max-width: 47vw;
    }
}

.globe {
    position: absolute;
    max-width: 300px;
    aspect-ratio: 1/1;
    @media screen and (min-width: 1100px) {
        max-width: 50vw;
    }
    @media screen and (max-width: 500px) {
        max-width: 30vw;
    }
}

.highlight {
    position: absolute;
    max-width: 233px;
    aspect-ratio: 1/1;
    transform: translateX(-30px) translateY(-32px);
    mix-blend-mode: screen;
    opacity: 0.5;
    @media screen and (min-width: 1100px) {
        max-width: 56vw;
        transform: translateX(-50px) translateY(-32px);
    }
    @media screen and (max-width: 500px) {
        transform: translateX(-20%) translateY(-20%);
        max-width: 20vw;
    }
}

.shadow {
    position: absolute;
    max-width: 233px;
    aspect-ratio: 1/1;
    transform: translateX(0) translateY(50px);
    mix-blend-mode: multiply;
    opacity: 0.5;
    @media screen and (min-width: 1100px) {
        max-width: 56vw;
        transform: translateX(0) translateY(135px);
    }
    @media screen and (max-width: 500px) {
        max-width: 20vw;
        transform: translateX(0) translateY(27.5%);
    }
}