$tablet: 1400px;
.container {
    position: absolute;
    top: 90vh;
    display: flex;
}

.headline {
    color: white;
    font-size: 3.66rem;
    font-family: "Wildside", sans-serif;
    position: absolute;
    background-color: red;
    padding: 0 4rem;
    height: 65px;
    clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
    transform: translateY(0px);
    z-index: 480;
    line-height: 1.2;
    @media screen and (max-width: $tablet) {
        transform: translateY(-20px);
        padding: 0px 25px;
        line-height: 1;
        border-radius: 0px 50px 50px 0px;
        left: 0;
        clip-path: none;
    }
    @media screen and (max-width: 500px) {
        top: -25vh;
        font-size: 2rem;
    }
}

.marqueeContainer {
    overflow: hidden;
    width: 75vw;
    z-index: 100;
    position: absolute;
    height: 2rem;
    background-color: white;
    width: 100vw;
    height: 64px;
    transform: translateY(0px);
    @media screen and (max-width: $tablet) {
        background-color: white;
        padding: 15px 25px;
        height: 70px;
        line-height: 1;
        left: 0;
        width: 100vw;
        transform: translateY(40px);
    }
    @media screen and (max-width: 500px) {
        top: -21vh;
        font-size: 1.33rem;
        height: 5vh;
    }
}

.marqueeContainerInner {
    position: relative;
    display: flex;
    z-index: 110;
    width: fit-content;
    top: 6px;
    p {
        display: block;
        font-family: "DK Hand", sans-serif;
        font-size: 2rem;
        color: black;
        z-index: 120;
        width: fit-content;
        white-space: nowrap;
        padding: 0 .5em;
        position: relative;
        @media screen and (max-width: 500px) {
            font-size: 1.33rem;
        }
    }
}