.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  z-index: 10;
  position: relative;
}

.heroContainer {
  height: 100vh;
  width: 100vw;
  @media screen and (max-width: 500px) {
    height: 60vh;
  }
}

.siteLogo {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 750px;
  @media screen and (max-width: 500px) {
    max-width: 40vw;
}
}

.connectButton {
  background: white;
  border-radius: 500px;
  padding: 1rem 2rem;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  }
  user-select: none;
}

.socialButton {
  user-select: none;
  max-width: 3rem;
  aspect-ratio: 1/1;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
}

.mintButton {
  background: white;
  border-radius: 500px;
  padding: 1rem 2rem;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  }
  user-select: none;
}

.userAddress {
  background: white;
  border-radius: 500px;
  padding: .5ex 1em;
  transition: all 0.5s;
  font-family: "DK Hand", sans-serif;
  color: #2595e3;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  }
}

.enterCheebieverseGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100%;
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.cheebieverseHeadline {
  color: white;
  font-size: 15vh;
  font-family: "Wildside", sans-serif;
  line-height: 1;
  text-align: center;
  transform: rotate(-5deg);
  @media screen and (max-width: 500px) {
    font-size: 3.66rem;
    max-width: 90vw;
    margin: 0 auto;
    transform: translateX(0%);
  }
}

.cheebieverseContent {
  color: white;
  font-size: 2rem;
  font-family: "DK Hand", sans-serif;
  line-height: 1.2;
  text-align: center;
  transform: translateX(35%) rotate(-5deg);
  max-width: 50ch;
  @media screen and (max-width: 500px) {
    font-size: 1.66rem;
    max-width: 85vw;
    margin: 0 auto;
    transform: translateX(0%);
  }
}

.cheebieApple {
  max-width: 70%;
  transform: translateX(100px);
  @media screen and (max-width: 500px) {
    max-width: 70vw;
    margin: 0 auto;
    transform: translateX(0%);
  }
}


.cloudOne {
  height: 15rem;
  @media screen and (max-width: 500px) {
    height: 10vh;
  }
}

.cheebieAugustus {
  max-width: 80%;
  @media screen and (max-width: 500px) {
    max-width: 80vw;
    margin: 0 auto;
  }
}

.whatAreCheebiezHeadline {
  color: white;
  font-size: 15vh;
  font-family: "Wildside", sans-serif;
  line-height: 1;
  text-align: center;
  transform: rotate(5deg);
  @media screen and (max-width: 500px) {
    font-size: 3.66rem;
    max-width: 90vw;
    margin: 0 auto;
    transform: translateX(0%);
  }
}

.whatAreCheebiezContent {
  color: white;
  font-size: 2rem;
  font-family: "DK Hand", sans-serif;
  line-height: 1.2;
  text-align: center;
  transform: translateX(22%) rotate(5deg);
  max-width: 50ch;
  @media screen and (max-width: 500px) {
    font-size: 1.66rem;
    max-width: 85vw;
    margin: 0 auto;
    transform: translateX(0%);
  }
}

.cloudTwo {
  height: 15rem;
  @media screen and (max-width: 500px) {
    height: 10vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.cloudThree {
  height: 15rem;
  @media screen and (max-width: 500px) {
    height: 10vh;
  }
}

.teamContainerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: relative;
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    max-width: 80vw;
    margin: 0 auto;
    height: fit-content;
  }
}

.teamHeadline {
  color: white;
  font-size: 12vh;
  font-family: "Wildside", sans-serif;
  line-height: 1;
  text-align: center;
  max-width: 10ch;
  @media screen and (max-width: 500px) {
    font-size: 3.66rem;
    max-width: 90vw;
    margin: 0 auto;
    transform: translateX(0%);
  }
}

.projectLeadHeadline {
  color: white;
  font-size: 8vh;
  font-family: "Wildside", sans-serif;
  line-height: 1;
  text-align: center;
}

.projectLeadIcon {
  max-width: 17.5vw;
  aspect-ratio: 1/1;
  @media screen and (max-width: 500px) {
    max-width: 45vw;
  }
}

.projectLeadRole {
  color: white;
  font-family: "DK Hand", sans-serif;
  font-size: 2rem;
}

.teamGrid {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
    height: fit-content;
  }
}

.teamMemberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamMemberName {
  color: white;
  font-size: 2rem;
  font-family: "Wildside", sans-serif;
  line-height: 1;
  text-align: center;
  @media screen and (max-width: 500px) {
    font-size: 1rem;
  }
}

.teamMemberImage {
  max-width: 66%;
  aspect-ratio: 1/1;
  @media screen and (max-width: 500px) {
    max-width: 50%;
  }
}

.teamMemberRole {
  color: white;
  font-family: "DK Hand", sans-serif;
  font-size: 1.77rem;
  text-transform: lowercase;
}

.mintGarden {
  position: relative;
  z-index: 1;
  min-height: 1200px;
}

.mintSun {
  position: absolute;
  left: 75%;
  top: 15%;
}

.mintClouds {
  position: absolute;
  width: 100vw;
  top: 25%;
}

.mintBush {
  position: absolute;
  bottom: 0;
  max-width: 100vw;
  width: 100vw;
}


.roadmapContainer {
  background-color: #4bc6ff;
  position: relative;
  min-height: 90vh;
}

.roadmapInnerGrid {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  padding-top: 5rem;
  @media screen and (min-width: 1100px) {
    padding-top: 10vw;
    padding-left: 10vw;
    gap: 5vw;
  }
}

.roadmapItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  .roadmapSmallItems {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}

.roadMapContent {
  color: white;
  display: flex;
  flex-direction: column;;
  justify-content: space-between;
  h3 {
    font-family: 'Wildside', sans-serif;
    font-size: 6rem;
    margin: 0;
    line-height: .8;
  }
  p {
    margin: 1ex 0;
    font-family: 'DK Hand', sans-serif;
    font-size: 2rem;
    max-width: 30ch;
  }
  h4 {
    margin: 0;
    line-height: 0.8;
    font-family: 'DK Hand', sans-serif;
    font-size: 4rem;
    max-width: 45ch;
  }
  @media screen and (min-width: 1100px) {
    h3 {
      font-size: 12.5vh;
    }
    p {
      font-size: 5vh;
    }
    h4 {
      font-size: 7.5vh;
    }
  }
}