$tablet: 1200px;

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  z-index: 10;
  position: relative;
}

.heroContainer {
  height: 100vh;
  width: 100vw;
  @media screen and (max-width: $tablet) {
    height: 100vh;
  }
  @media screen and (max-width: $tablet) {
    height: 88vh;
  }
  @media screen and (max-width: 700px) {
    height: 88vh;
  }
  @media screen and (max-width: 500px) {
    height: 66vh;
  }
}

.connectButton {
  background: white;
  border-radius: 500px;
  padding: 1rem 2rem;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  }
  user-select: none;
}

.socialButton {
  user-select: none;
  max-width: 3rem;
  aspect-ratio: 1/1;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
}

.mintButton {
  background: white;
  border-radius: 500px;
  padding: 1rem 2rem;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  }
  user-select: none;
}

.userAddress {
  background: white;
  border-radius: 500px;
  padding: 0.5ex 1em;
  transition: all 0.5s;
  font-family: "DK Hand", sans-serif;
  color: #2595e3;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  }
  @media screen and (max-width: 500px) {
    font-size: 1.5rem;
  }
}

.enterCheebieverseGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100%;
  width: 90vw;
  margin: 2rem auto;
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
    height: auto;
    align-items: center;
  }
  @media screen and (max-width: 700px) {
    margin-top: 10rem;
    font-size: 2rem;
  }
  @media screen and (max-width: 400px) {
    margin-top: 0rem;
    font-size: 2rem;
  }
}

.cheebieverseHeadline {
  color: white;
  font-size: 8rem;
  font-family: "Wildside", sans-serif;
  line-height: 1;
  text-align: center;
  transform: rotate(-5deg);
  max-width: 15ch;
  @media screen and (max-width: $tablet) {
    font-size: 3.66rem;
    max-width: 90vw;
    margin: 0 auto;
    transform: translateX(0%);
  }
  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }
}

.cheebieverseContent {
  color: white;
  font-size: 2rem;
  font-family: "DK Hand", sans-serif;
  line-height: 1.2;
  text-align: center;
  transform: rotate(-5deg);
  max-width: 50ch;
  margin: 0 auto;
  @media screen and (max-width: 1900px) {
    transform: rotate(-5deg);
  }
  @media screen and (max-width: $tablet) {
    max-width: 40ch;
    margin: 2rem auto;
    transform: translateX(0%);
  }
  @media screen and (max-width: 700px) {
    font-size: 2rem;
    max-width: 30ch;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.33rem;
    max-width: 30ch;
  }
}

.cheebieApple {
  max-width: 70%;
  transform: translateX(100px);
  @media screen and (max-width: $tablet) {
    max-width: 33vw;
    margin: 0 auto;
    transform: translateX(0%);
  }
}

.cloudOne {
  height: 15rem;
  @media screen and (max-width: $tablet) {
    height: 10vh;
  }
  @media screen and (max-width: 800px) {
    height: 5vh;
  }
}

.cheebieAugustus {
  max-width: 80%;
  order: -2;
  @media screen and (max-width: $tablet) {
    max-width: 33vw;
    margin: 0 auto;
    order: 1;
  }
}

.whatAreCheebiezContentContainer {
  order: 1;
  @media screen and (max-width: $tablet) {
    order: -1;
  }
}

.whatAreCheebiezGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100%;
  max-width: 90vw;
  margin: 2rem auto;
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
    height: auto;
    margin-top: 4rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }
}

.whatAreCheebiezHeadline {
  color: white;
  font-size: 8rem;
  font-family: "Wildside", sans-serif;
  line-height: 1;
  text-align: center;
  transform: rotate(5deg);
  max-width: 15ch;
  @media screen and (max-width: $tablet) {
    font-size: 3.66rem;
    max-width: 90vw;
    margin: 0 auto;
    transform: translateX(0%);
  }
  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }
}

.whatAreCheebiezContent {
  color: white;
  font-size: 2rem;
  font-family: "DK Hand", sans-serif;
  line-height: 1.2;
  text-align: center;
  transform:rotate(5deg);
  max-width: 50ch;
  margin: 0 auto;
  @media screen and (max-width: $tablet) {
    max-width: 40ch;
    margin: 2rem auto;
    transform: translateX(0%);
  }
  @media screen and (max-width: 700px) {
    font-size: 2rem;
    max-width: 30ch;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.33rem;
    max-width: 30ch;
  }
}

.cloudTwo {
  height: 15rem;
  @media screen and (max-width: $tablet) {
    height: 10vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.cloudThree {
  height: 15rem;
  @media screen and (max-width: $tablet) {
    height: 10vh;
  }
}

.teamContainerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: relative;
  margin-top: 12rem;
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
    max-width: 80vw;
    margin: 0 auto;
    height: fit-content;
  }
  @media screen and (max-width: 700px) {
    margin-top: 8rem;
  }
}

.teamHeadline {
  color: white;
  font-size: 6rem;
  font-family: "Wildside", sans-serif;
  line-height: 1;
  text-align: center;
  max-width: 15ch;
  @media screen and (max-width: $tablet) {
    font-size: 3.66rem;
    max-width: 90vw;
    margin: 0 auto;
    transform: translateX(0%);
  }
  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }
}

.projectLeadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  @media screen and (max-width: $tablet) {
    margin-bottom: 2rem;
  }
}

.projectLeadHeadline {
  color: white;
  font-size: 8vh;
  font-family: "Wildside", sans-serif;
  line-height: 1;
  text-align: center;
  @media screen and (max-width: $tablet) {
    font-size: 6vh;
  }
}

.projectLeadIcon {
  max-width: 17.5vw;
  aspect-ratio: 1/1;
  @media screen and (max-width: $tablet) {
    max-width: 33vw;
  }
  @media screen and (max-width: 500px) {
    max-width: 50vw;
  }
}

.projectLeadRole {
  color: white;
  font-family: "DK Hand", sans-serif;
  font-size: 2rem;
  @media screen and (max-width: $tablet) {
    font-size: 4vh;
  }
}

.teamGrid {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80vw;
    height: fit-content;
    margin-bottom: 8rem;
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
    height: fit-content;
  }
}

.teamMemberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamMemberName {
  color: white;
  font-size: 2rem;
  font-family: "Wildside", sans-serif;
  line-height: 1;
  text-align: center;
  @media screen and (max-width: $tablet) {
    order: 1;
    font-size: 2rem;
    margin: 0.5ex auto;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.33rem;
  }
}

.teamMemberImage {
  max-width: 100%;
  aspect-ratio: 1/1;
  @media screen and (max-width: $tablet) {
    order: 0;
    max-width: 80%;
  }
  @media screen and (max-width: 700px) {
    max-width: 30vw;
  }
}

.teamMemberRole {
  color: white;
  font-family: "DK Hand", sans-serif;
  font-size: 1.77rem;
  text-transform: lowercase;
  @media screen and (max-width: $tablet) {
    order: 2;
    line-height: 1;
    margin-top: -1ex;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.33rem;
  }
}

.mintGarden {
  position: relative;
  z-index: 1;
  min-height: 1200px;
  @media screen and (max-width: $tablet) {
    min-height: 960px;
  }
  @media screen and (max-width: $tablet) {
    min-height: 100vh;
  }
}

.mintGardenConnect {
  display: block;
  position: relative;
  margin: 1rem;
  width: fit-content;
}

.mintGardenOpenModal {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  background-color: white;
  font-family: "Wildside", sans-serif;
  color: #4bc6ff;
  padding: 1rem 3rem;
  font-size: 4rem;
  border-radius: 5rem;
  transition: all 0.25s;
  height: fit-content;
  z-index: 525600;
  &:hover {
    transform: translateX(-50%) translateY(-55%);
    cursor: pointer;
    box-shadow: 0px, 0px, 15px, rgba(0, 0, 0, 0.5);
  }
}
.mintGardenModalBG {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.25);
  width: 100vw;
  height: 100%;
  z-index: 525600;
}
.mintGardenModal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  width: fit-content;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  padding: 1rem 2rem;
  z-index: 525600;
  h2 {
    font-size: 3rem;
    font-family: "Wildside", sans-serif;
    text-align: center;
  }
  h3 {
    font-size: 2rem;
    font-family: "DK Hand", sans-serif;
    margin: 0 auto;
    text-align: center;
  }
}


.getCheebButton {
  display: block;
  border: 1px solid black;
  font-family: "DK Hand", sans-serif;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: bisque;
  }
}

.cheebListButton {
  display: block;
  border: 1px solid black;
  font-family: "DK Hand", sans-serif;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 50px;
  &:hover {
    cursor: pointer;
    background-color: bisque;
  }
}

.selectMintAmountRow {
  display: flex;
  justify-content: center;
}

.incrementCheebz {
  display: block;
  border: 1px solid black;
  font-family: "DK Hand", sans-serif;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 0px 50px 50px 0px;
  &:hover {
    cursor: pointer;
    background-color: bisque;
  }
}

.decrementCheebz {
  display: block;
  border: 1px solid black;
  font-family: "DK Hand", sans-serif;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 50px 0px 0px 50px;
  &:hover {
    cursor: pointer;
    background-color: bisque;
  }
}

.mintSun {
  position: absolute;
  left: 75%;
  top: 15%;
}

.mintClouds {
  position: absolute;
  width: 100vw;
  top: 25%;
}

.mintBush {
  position: absolute;
  bottom: 0;
  max-width: 100vw;
  width: 100vw;
}

.roadmapContainer {
  background-color: #4bc6ff;
  position: relative;
  min-height: 90vh;
  @media screen and (min-height: 2000px) {
    min-height: 2000px;
  }
  @media screen and (max-width: 1500px) {
    min-height: auto;
    height: 1600px;
  }
}

.breakingNewsButton {
  position: absolute;
  width: 600px;
  transform: translateY(-50%);
  @media screen and (max-width: $tablet) {
    width: 60vw;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.newzyBeeDesktop {
  position: absolute;
  width: 500px;
  bottom: 0;
  right: 0;
  transform: translateY(-15%);
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.newzyBeeDesktopDesk {
  position: absolute;
  width: 800px;
  bottom: 0;
  right: 0;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.newzyBeeMobile {
  position: absolute;
  width: 800px;
  bottom: 0;
  right: 0;
  @media screen and (min-width: $tablet) {
    display: none;
  }
  @media screen and (max-width: 500px) {
    width: 80%;
  }
}

.roadmapInnerGrid {
  display: grid;
  grid-template-columns: 3fr 9fr;
  padding: 2rem;
  gap: 1rem;
  padding-top: 5rem;
  @media screen and (min-width: $tablet) {
    padding-top: 10vw;
    padding-left: 10vw;
    gap: 5vw;
  }
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.roadmapItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    img {
      max-width: 230px;
    }
  }
  @media screen and (max-width: $tablet) {
    margin: 0 auto;
    order: 1;
  }
  .roadmapSmallItems {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    width: 100%;
    img {
      width: 100%;
    }
    @media screen and (max-width: 500px) {
      img {
        max-width: 70px;
        gap: 10px;
      }
    }
  }
}

.roadMapContent {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: $tablet) {
    margin: 0 auto;
    align-items: center;
  }
  h3 {
    font-family: "Wildside", sans-serif;
    font-size: 6rem;
    margin: 0;
    line-height: 0.8;
  }
  p {
    margin: 1ex 0;
    font-family: "DK Hand", sans-serif;
    font-size: 2rem;
    max-width: 30ch;
  }
  h4 {
    margin: 0;
    line-height: 0.8;
    font-family: "DK Hand", sans-serif;
    font-size: 4rem;
    max-width: 45ch;
  }
  @media screen and (min-width: $tablet) {
    h3 {
      font-size: 12.5vh;
    }
    p {
      font-size: 5vh;
    }
    h4 {
      font-size: 7.5vh;
    }
  }
  @media screen and (max-width: $tablet) {
    p {
      font-size: 3rem;
      text-align: center;
      line-height: 1;
    }
    h4 {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 1.66rem;
    }
  }
}
